
<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#lCountry").addClass("active");
        });
    </script>

    <title>Country</title>
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <style>
        .nrc-table {
            width: 100% !important;
        }
    </style>
</head>
<body>
    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Country</h1>

    </div>

    <!-- Page Body -->
    <div class="card shadow mb-8 table-con">

        <form class="nrc-con" action="/Country/Index" method="post">

            <div class="card-body">

                <div class="nrc-con">
                    <label>Country Name <span>*</span></label>
                    <input type="text" id="Name" name="Name" class="form-control nrc-input" placeholder="eg. Yangon" required/>
                    <input type="submit" class="form-control nrc-btn" value="Create" id="submit-btn">
                </div>
                @if (ViewBag.SuccessMessage != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.SuccessMessage");
                        };
                    </script>
                }

                @if (ViewBag.ErrorMessage != null)
                {
                    <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.ErrorMessage");
                        };
                    </script>
                }
        </form>
        <div class="table-responsive nrc-table">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <table id="countryTable" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
    </div>
    <!-- End Of Page Body -->
</body>
</html>

@section Scripts
    {
    <script src="~/js/bootbox.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/CountryTable.js"></script>
}

